{% extends "base.html" %}

{% block title %}
Клиенти
{% endblock %}

{% block content %}
<h2>Наши Клиенти</h2>
<p>
	- Национално Бюро за Териториално Убежище и Бежанците към Министерски Съвет на Република България <br>
	(сега Държавна агенция за бежанците при Министерския съвет) - София, ул. "Монтевидео" №21 <br>
	- Агенция по Заетостта - Централно Управление, София, бул. “Дондуков” №3 <br>
	- Главна Инспекция по Труда - Централно Управление, София, бул. “Дондуков” №3 <br>
	- Регионална Служба по Заетостта – Благоевград <br>
	- Министерство на Промишлеността - София, ул. “Славянска” <br>
	- ЦС на ТПК - София, бул. “Дондуков” <br>
	- 7М - офис гр. София <br>
	- Фестивест - Административна сграда - София, ул. “Иван Асен II” <br>
	- Инсешън - офис, гр. София <br>
	- Министерство на правосъдието и правната евроинтеграция - София – PHARE <br>
	- Копирен център на Колбис АД – София, бул. “Дондуков” №3 <br>
	 - Колбис АД - Административна сграда - София, ул. “Кирил и Методий” <br>
	- АРОМА АД – София, ул.”К. Благоев” №10 <br>
	- Грей – София – офис, гр. София <br>
	- Държавна Агенция за Закрила на Детето – София, ул. “Триадица” №2 <br>
	- Преквалификационен център – Бобов дол – PHARE <br>
	- Копирен център на “Колбис” АД – София, НДК <br>
	- Радио Витоша – София <br>
	- А&С – Офис, гр. София <br>
	- Бюро по Труда – Карнобат <br>
	- Министерство на Труда и Социалната Политика – София, ул. “Триадица” №2. <br>
	- Помпен Център София  ЕООД – гр. София, ул. “Метличина Поляна”, бл.31 <br>
	- ЕТ Геоинвест - Ивайло Иванов – гр. София ж.к. "Слатина", бл.67А <br>
	- НДК - София <br>
	- МОСТ – АД, ул. "Траян Танев" №78 <br>
	- ИНТЕРПРЕД-СТЦ СОФИЯ АД <br>
	- ЕКОМ ЕООД, гр. София, ж.к. "Яворов", бл.43, вх.А <br>
	- АГЕЛ ООД - София, ул. "Подп. Калитин" №32 <br>
	- БОРА ООД, гр. София, ул. "Любляна" №46 <br>
	- Цанев и син ООД, гр. София, ул. "Козлодуй" №99 <br>
	- ИЯИЯЕ – БАН, гр. София, бул. Цариградско шосе №72 <br>
	 - Чистота Искър ЕООД, гр. София, ул. Искърско шосе №2 <br>
	 - Промтрейд ЕООД, гр. София, бул. "Христо Смирненски" №60 <br>
	 - Парк-Хотел Москва АД, гр.София, ул. "Незабравка" №25 <br>
	 - Военна Болница – гр.София, ул. "Георги Софийски" №3 <br>
	 - БДПЛР – гр. Банкя, ул "Иван Вазов" №5 <br>
	 - Микс Констръкшън ООД гр.София, ул. "Луи Айер" №2 <br>
</p>
{% endblock %}