{% extends "base.html" %}

{% block title %}
Начало
{% endblock %}

{% block content %}
<h1>Фирма”ВЕМА 2005” ООД предлага</h1>
<div>
	<p>
		Проектиране, изграждане, сертифициране, гаранционно и следгаранционно обслужване и поддържане на
		следните типове инсталации: <br>
	</p>
	<div class="accordion" id="accordionExample">
		<div class="card">
			<div class="card-header" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				<h4 class="mb-0">
					Структурни кабелни среди
				</h4>
			</div>
			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
				<div class="card-body">
					<p>
						<ul>
							<li>
								компютърни локални мрежи
							</li>
							<li>
								телефонни мрежи
							</li>
						</ul>
						Със сертифициране на 15-20 годишна гаранция.
					</p>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingTwo"  type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				<h4 class="mb-0">
					Помпи и помпени станции
				</h4>
			</div>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				<div class="card-body">
					<p>
						<ul>
							<li>
								Помпени станции
							</li>
							<li>
								Хидрофорни уредби
							</li>
							<li>
								Отводнителни системи
							</li>
							<li>
								Пречиствателни станции
							</li>
							<li>
								Противопожарни помпени инсталации
							</li>
						</ul>
					</p>
					<p>
						<ul>
							<li>
								Ел. табла за управление на Помпени станции
							</li>
							<li>
								Ел. табла за управление на Хидрофорни уредби
							</li>
							<li>
								Ел. табла за управление на Отводнителни системи
							</li>
							<li>
								Ел. табла за управление на Пречиствателни станции
							</li>
							<li>
								Ел. табла за управление на Противопожарни помпени инсталации
							</li>
						</ul>
					</p>
					<p>
						<ul>
							<li>
								Водопроводни и канализационни инсталации
							</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingThree"  type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				<h4 class="mb-0">
					Промишлена автоматика
				</h4>
			</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
					<div class="card-body">
						<p>
							<ul>
								<li>
									Силови електроинсталации
								</li>
								<li>
									Разпределителни ел. табла
								</li>
								<li>
									Ел. табла за управление
								</li>
								<li>
									Табла за контрол и автоматизиране на процеси
								</li>
							</ul>
						</p>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingFour" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				<h4 class="mb-0">
					Инженерингова и консултантска дейност
				</h4>
			</div>
			<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
				<div class="card-body">
					<p>
						Ние можем
						<ul>
							<li>
								да Ви помогнем да изберете продукта, който Ви е нужен
							</li>
							<li>
								да Ви консултираме за оптималния избор, според вашите сегашни и бъдещи нужди
							</li>
							<li>
								да разработим най-добрия за Вас начин за проектиране и изпълнение
							</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}